<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <% if (!user) { %>
        <p>Welcome to social media web!</p>
        <a href="/login">Login</a>
        <a href="/sign-in">Sign in</a>
        <% } else {%>
            <p>Welcome <strong>
                    <%=user.length ? user.username : " " %>
                </strong> to social media web!</p>
            <a href="/logout">Logout</a>
            <a href="/<%= user.username %>">Profile</a>
            <% }%>

            <script src="/js/perm.js"></script>
</body>

</html>