<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <p>Welcome <strong><%=user.username%></strong> to social media web!</p>
    <a href="/logout">Logout</a>
    <a href="/users/<%=user.username%>"><%=user.username%></a>
</body>

</html>