<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>

<body>
    <div id="maincontainer" class="maincontainer <%= mode %>">
        <% if (!user) { %>
            <p>Welcome to social media web!</p>
            <a href="/login">Login</a>
            <a href="/sign-in">Sign in</a>
            <% } else {%>
                <p>Welcome <strong>
                        <%=user.length ? user.username : " " %>
                    </strong> to social media web!</p>
                <a href="/logout">Logout</a>
                <a href="/<%= user.username %>">Profile</a>

                <button id="modesBTN" onclick="toggleMode()">
                    <% if(mode==="dark" ) {%> Dark Mode <% } else {%> Light Mode <%}%>
                </button>

                <button onclick="createpost()">Create post</button>
                <div id="postC" class="postC hidden">
                    <form action="/create-post" method="post">
                        <label for="content">Content</label>
                        <textarea name="content" id="content"></textarea>
                        <button type="submit">Create</button>
                    </form>
                </div>

                <div class="posts" id="posts"></div>
                <script src="/js/core.js"></script>
                <% }%>
    </div>
    <script src="/js/perm.js"></script>
</body>

</html>