:root {
    --dark_mode_bg: rgb(45, 45, 45);
    --dark_mode_txt_c: white;
    --white_mode_bg: rgb(255, 255, 255);
    --white_mode_txt_c: rgb(0, 0, 0);
}

* {
    margin: 0;
}

.maincontainer {
    background-color: var(--white_mode_bg);
    color: var(--white_mode_txt_c);
    min-height: 100vh;
}

.maincontainer.dark {
    background-color: var(--dark_mode_bg);
    color: var(--dark_mode_txt_c);
}

.postC {
    opacity: 1;
}

.postC.hidden {
    opacity: 0;
}

.comments {
    background-color: rgb(166, 166, 166);
    min-height: fit-content;
    position: fixed;
    width: 20vw;
    opacity: 0;
    z-index: -999;
    transition: position 0.5s ease;
}

.comments.show {
    z-index: 1;
    opacity: 1;
    position: relative;
    transition: position 0.5s ease;
}