:root {
    --dark_mode_bg: rgb(45, 45, 45);
    --dark_mode_txt_c: white;
    --white_mode_bg: rgb(255, 255, 255);
    --white_mode_txt_c: rgb(0, 0, 0);
}

* {
    margin: 0;
}

.maincontainer {
    background-color: var(--white_mode_bg);
    color: var(--white_mode_txt_c);
    min-height: 100vh;
}

.maincontainer.dark {
    background-color: var(--dark_mode_bg);
    color: var(--dark_mode_txt_c);
}

.postC {
    opacity: 1;
}

.postC.hidden {
    opacity: 0;
}

.comments {
    background-color: rgb(166, 166, 166);
    min-height: fit-content;
    position: fixed;
    width: 20vw;
    opacity: 0;
    z-index: -999;
    transition: position 0.5s ease;
}

.comments.show {
    z-index: 1;
    opacity: 1;
    position: relative;
    transition: position 0.5s ease;
}

.post-menu {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 5px;
    background-color: black;
    padding: 20px 10px;
    opacity: 1;
    z-index: 1;
    position: relative;
    transition: opacity 0.5s ease;
}

.post-menu.hidden {
    opacity: 0;
    z-index: -999;
    position: fixed;
    transition: opacity 0.5s ease;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.post {
    min-height: 25vh;
    max-height: 75vh;
    width: 25vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;

    box-shadow: 1px 0px 10px rgb(53, 53, 53);
}

.post .user,
.post .content,
.post .bottomarticle {
    width: 90%;
}

.post .user {
    display: flex;
    justify-content: space-between;
}

.post .user a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.post .content {
    min-height: 25vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
}

.post .bottomarticle {
    display: flex;
    justify-content: space-evenly;
}

.post .content img {
    height: 90%;
    width: 90%;
}

.post .content .contentP {
    width: 100%;
    position: relative;
    top: 0;
    background-color: rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .content .contentP p {
    color: white;
}