.maincontainer {
    position: relative;
}

.edit.hidden {
    opacity: 0;
}

.edit {
    opacity: 1;
}

#editProfile {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: rgb(132, 132, 132);
    height: 500px;
    width: 35vw;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 5px 5px 0px brown;

    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#editProfile.hide {
    opacity: 0;
    z-index: -999;
    transform: translate(-100%, -100%);
    transition: opacity 0.2s ease;
}

#imageholder {
    border-radius: 100%;
}

#removeavatar {
    opacity: 1;
}

#removeavatar.hide {
    opacity: 0;
}

/* Main */

.maincontainer {
    display: flex;
}

.sidebar {
    width: 10%;
    background-color: antiquewhite;
}

.center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.follows {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity: 1;
    background-color: rgb(230, 230, 230);
    transition: opacity 0.5s ease;

    color: white;
}

.follows.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}